.ye-about .nav {
    position: relative;
    top: 0;
    left: 0;
    padding: 1em 0;
    width: 100%;
    box-shadow: 0 0 0 0 transparent;
    border-bottom: 1px solid transparent;
    transition: padding .5s ease, background .5s ease, box-shadow .5s ease, border .5s ease
}

.nav .logo a {
    font-size: 1.6em;
    color: #000 !important
}

.ye-about .ye-main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto
}

.ye-about .about {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0
}

.ye-about .about .header {
    height: 460px;
    width: 100%
}

.ye-about .about.about .header {
    background: url("../../public/images/sources/about.jpg") center top no-repeat;
    background-size: cover
}

.ye-about .about .header .header-wrapper {
    background-color: rgba(0, 0, 0, .3);
    width: 100%;
    height: 100%
}

.about .header .header-wrapper .content {
    text-align: center;
    color: #fff;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif
}

.about .header .header-wrapper .content .logo {
    width: 100%;
    padding-top: 188px;
    font-size: 48px
}

.about .header .header-wrapper .content .title {
    width: 580px;
    height: 64px;
    font-size: 32px;
    font-weight: 300;
    margin: 60px auto 20px
}

.about .header .header-wrapper .content button {
    padding: .78571429em 3em
}