body {
    cursor: default;
}
dl, dt, dd, ul, li {
    list-style: none;
}
@font-face {
    font-family: 'FontAwesome';
    src: url('../../public/fonts/fontawesome-webfont.eot?v=4.3.0');
    src: url('../../public/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../../public/fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../../public/fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../../public/fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../../public/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*----------------------------------------------

    Nav Wrapper Style

------------------------------------------------*/

.ye-index nav {
    background: rgba(0, 0, 0, .1);
    transition: padding 0.5s ease,
    background 0.5s ease,
    box-shadow 0.5s ease,
    border 0.5s ease;
    z-index: 1001;
    top: 0;
    left: 0;
}

.ye-index nav.fixed {
    padding: 0;
    background: rgba(255, 255, 255, 1);
    border-bottom: 1px solid #DDDDDD;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.04);
    -webkit-transition: padding 0.5s ease, background 0.5s ease, border 0.5s ease, color 0.5s ease;
    -moz-transition: padding 0.5s ease, background 0.5s ease, border 0.5s ease, color 0.5s ease;
    /*-ms-transition: padding 0.5s ease, background 0.5s ease, border 0.5s ease, color 0.5s ease;*/
    -o-transition: padding 0.5s ease, background 0.5s ease, border 0.5s ease, color 0.5s ease;
    transition: padding 0.5s ease, background 0.5s ease, border 0.5s ease, color 0.5s ease;
    color: black !important;
}

nav .search-bar .input {
    width: 700px;
    display: none;
    font-weight: normal !important;
}

nav.fixed.search .search-bar .input {
    display: inline-flex;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

nav.fixed.search .ye-logo {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.ye-index .ye-logo-title {
    color: #FFFFFF;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

nav.fixed .ye-logo-title {
    color: #54c8ff;
}

/*----------------------------------------------

    Header Wrapper Style

------------------------------------------------*/

.ye-index header {
    width: 100%;
    height: 520px;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    position: relative;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.ye-index header .wrapper {
    width: 100%;
    height: 100%;
}

header .wrapper .carousel {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-transition: background 1s ease;
    -moz-transition: background 1s ease;
    -ms-transition: background 1s ease;
    -o-transition: background 1s ease;
    transition: background 1s ease;
    background-size: cover;
}

header .wrapper .carousel .list {
    display: none;
}

header .wrapper .content {
    background: rgba(0, 0, 0, .2);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    cursor: pointer;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

header .wrapper .content .a {
    margin-top: 236px;
    margin-bottom: 10px;
    font-size: 60px;
    line-height: 76px;
}

header .wrapper .content .b {
    font-size: 24px;
}

header .wrapper .content .button {
    margin-top: 4rem;
    padding: .78571429em 3em;
}

/*----------------------------------------------

    Search-Bar Style

------------------------------------------------*/
.ye-index .preview-wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
    /*overflow: hidden;*/
}

.ye-index .preview-wrapper .search-bar, .ye-index .preview-bar {
    padding: 1rem 0;
    margin: 0 auto;
    width: 100%;
    position: relative;
    background-color: #ededed;
}

.ye-index .preview-bar {
    padding: 0; /* 可以考虑显示/隐藏边框 */
}

.ye-index .preview-wrapper .search-bar .input {
    margin: 0 calc((100% - 800px) / 2);
    width: 800px;
}

.ye-index .ui.action.input .button.middle {
    border-radius: 0;
}

.ye-index .ui.action.input:not([class*="left action"]) > .dropdown {
    border-right: none;
}

.ye-index .search-bar .search-ad:before {
    content: '推荐搜索: ';
    padding-right: .5rem;
    margin: .5rem 0;
    float: left;
}

.ye-index .search-bar .search-ad {
    width: 800px;
    list-style: none;
    margin: 0 auto;
    overflow: hidden;
    height: 1.75rem;
    padding: 0 1rem;
}

.ye-index .search-bar .search-ad li {
    float: left;
    padding: 0 .5rem;
    margin: .5rem 0 0;
    cursor: pointer !important;
}

nav.fixed .ye-logo-title {
    color: #54c8ff !important;
}

nav.fixed .right .button {
    box-shadow: 0 0 0 2px #54c8ff inset !important;
}

nav.fixed .ui.secondary.inverted.menu .link.item,
nav.fixed .ui.secondary.inverted.menu a.item {
    color: #54c8ff !important;
}

/*----------------------------------------------

    Main-Content Style

------------------------------------------------*/
main {
    padding: 2rem 0;
    width: 100%;
}

main .wrapper {
    padding: 0;
    width: 100%;
}

main .header {
    width: 100%;
    padding: 2rem 0;
    text-align: center;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

main .header .title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #5d5d5d;
    line-height: 3.5rem;
}

main .header .description {
    font-size: 1.5rem;
    font-weight: normal;
    color: #5d5d5d;
    line-height: 2.5rem;
}

main .content .description {
    bottom: 0;
    left: 0;
    top: auto;
    position: absolute;
    width: 100%;
    height: auto;
    padding: 1rem 1rem .5rem;
    background: rgba(0, 0, 0, .1);
}

main .content .description .title {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
}

main .content .description .intro {
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding-left: 1rem;
}

/*----------------------------------------------

    Go-Top Style

------------------------------------------------*/
.ye-top {
    top: auto;
    left: auto;
    right: 10%;
    bottom: 10%;
    position: fixed;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    /*border-radius: 50%;*/
    overflow: hidden;
    background: transparent;
}

.ye-top button {
    opacity: .8;
    margin: 0 !important;
    border-radius: 50% !important;
}

.ye-top button i {
    font-size: 1.5rem;
}

nav .ye-top {
    display: none;
}

nav.fixed .ye-top {
    display: block;
}
/*----------------------------------------------

    Footer Wrapper Style

------------------------------------------------*/
.ye-footer {
    top: 6rem !important;
}

.ye-footer .footer-wrapper .footer-detail {
    margin-left: -30px;
    padding-top: 60px;
    padding-bottom: 30px;
    width: 100%;
    overflow-x: hidden;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ye-footer .footer-wrapper .detail-title {
    height: 2rem;
    line-height: 2rem;
    width: 90%;
    margin: 0 auto;
}

.ye-footer .footer-wrapper .detail-title h1 {
    font-size: 1.5rem;
    float: left;
    line-height: 1.5rem;
}

.ye-footer .footer-wrapper .detail-title h1:before {
    font-family: FontAwesome;
    padding-right: 15px;
}

.detail-units .detail-title h2 {
    float: right;
    margin-top: 0.25rem;
    padding-right: 50%;
    font-size: 1.1rem;
    line-height: 1.5rem;
    vertical-align: bottom;
}

.ye-footer .footer-wrapper .detail-item {
    margin-bottom: 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ye-footer .footer-wrapper .footer-link ul {
    width: 540px !important;
}
/*----------------------------------------------

    Self-Adaption Style

------------------------------------------------*/

@media (max-width: 767px) {
    body {
        width: 100% !important;
        overflow-x: hidden;
    }

    .ye-index {
        width: 100% !important;
    }

    .ye-index .search-bar {
        width: auto !important;
        max-width: 100% !important;
    }

    .ye-index .search-bar .input {
        width: 100% !important;
        padding: 0 2em !important;
        margin: 0 auto !important;
    }

    .ye-index .search-bar .search-ad {
        width: 100% !important;
        padding: 0 2em !important;
    }

    .ye-index .search-bar .input .middle.button,
    .ye-index .search-bar .input .selection {
        display: none;
    }

    nav.fixed.search .search-bar .input {
        padding: 0 0 0 1rem !important;
    }

    nav.fixed .search-bar.visible .input,
    nav.fixed.search .ye-logo {
        display: none;
    }
}

@media (max-width: 580px) {
    .ye-index nav .right.menu {
        display: none !important;
    }
}

@media (max-width: 767px) and (min-width: 550px) {
    nav.fixed.search .ye-logo {
        display: none;
    }

    .ye-index nav .right.menu {
        display: inline-flex !important;
    }
}

@media (min-width: 767px) and (max-width: 1000px) {
    nav.fixed.search .ye-logo {
        display: none;
    }

    .ye-index nav .right.menu {
        display: none !important;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    nav.fixed.search .ye-logo {
        display: none;
    }
}