.ye-list .ye-nav {
    background: rgba(0, 0, 0, .1);
    transition: padding .5s ease, background .5s ease, box-shadow .5s ease, border .5s ease;
    z-index: 1001;
    top: 0;
    left: 0
}

.ye-nav .ye-container {
    display: block;
    max-width: 100% !important
}

.ye-nav .ye-nav-menu#adArea {
    max-width: 40%;
    max-height: 70px;
    overflow: hidden
}

@media only screen and (max-width: 767px) {
    .ye-nav .ye-container {
        width: auto;
        margin-left: 1em !important;
        margin-right: 1em !important
    }

    .ye-nav .ye-nav-menu#adArea {
        display: none
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .ye-nav .ye-container {
        width: 80%;
        margin-left: auto !important;
        margin-right: auto !important
    }

    .ye-nav .ye-nav-menu#adArea {
        display: none
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .ye-nav .ye-container {
        width: 84%;
        margin-left: auto !important;
        margin-right: auto !important
    }

    .ye-nav .ye-nav-menu#adArea {
        max-width: 40%;
        max-height: 70px;
        overflow: hidden
    }
}

@media only screen and (min-width: 1200px) {
    .ye-nav .ye-container {
        width: 90%;
        margin-left: auto !important;
        margin-right: auto !important
    }

    .ye-nav .ye-nav-menu#adArea {
        max-width: 40%;
        max-height: 70px;
        overflow: hidden
    }
}

.ye-list .ye-logo-title {
    color: #fff;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif
}

.ye-list .ye-nav.fixed {
    padding: 0;
    background: rgba(255, 255, 255, 1);
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.04);
    -webkit-transition: padding .5s ease, background .5s ease, border .5s ease, color .5s ease;
    -moz-transition: padding .5s ease, background .5s ease, border .5s ease, color .5s ease;
    -o-transition: padding .5s ease, background .5s ease, border .5s ease, color .5s ease;
    transition: padding .5s ease, background .5s ease, border .5s ease, color .5s ease;
    color: black !important
}

.ye-list .ye-nav.fixed .ye-logo-title {
    color: #54c8ff !important
}

.ye-list .ye-nav.fixed .button {
    box-shadow: 0 0 0 2px #54c8ff inset !important
}

.ye-list .ye-nav.fixed .ye-nav-menu {
    color: #54c8ff !important
}

.ye-list .ye-nav.fixed .ui.secondary.inverted.menu .link.item#adArea, .ye-list .ye-nav.fixed .ui.secondary.inverted.menu a.item#adArea {
    color: rgba(34, 36, 38, .5) !important
}

.ye-list .ye-nav.fixed .ui.secondary.inverted.menu .link.item, .ye-list .ye-nav.fixed .ui.secondary.inverted.menu a.item {
    color: #54c8ff !important
}

.ye-list .ye-nav.fixed .ui.secondary.inverted.menu .popup .link.item, .ye-list .ye-nav.fixed .ui.secondary.inverted.menu .popup a.item {
    color: rgba(0, 0, 0, .4) !important
}

.ye-list .ye-nav.fixed .ui.secondary.inverted.menu .popup .active.item, .ye-list .ye-nav.fixed .ui.secondary.inverted.menu .popup .active.item:hover, .ye-list .ye-nav.fixed .ui.secondary.inverted.menu .popup .active.item:active {
    color: #54c8ff !important
}

.ye-side {
    top: 77px !important
}

.ye-list .ui.horizontal.list .item {
    border-radius: .5em !important;
    min-width: 56px;
    text-align: center
}

.ye-list .ui.horizontal.list .item .content {
    padding: .5em !important
}

.ye-list #area .ui.horizontal.list .item {
    display: inline-block !important
}

.ye-list #size .ui.horizontal.list .item {
    display: block !important;
    text-align: left
}

.ye-list #price .ui.horizontal.list .item {
    display: block !important;
    text-align: left
}

.ye-list .ui.horizontal.list .item.active:first-child {
    display: block;
    margin: 0;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 500
}

.ye-list .building.list {
    top: 100px;
    left: 300px;
    width: calc(100% - 280px);
    overflow-x: hidden;
    position: relative;
    padding-bottom: 3000px
}

.ye-list .building.list .cards {
    margin: 0 auto
}

.ye-list .building.list .card .move.reveal .hidden.content {
    padding: 1em
}

.ye-list .building.list .card .image img {
    height: 290px;
    max-height: 290px
}