.ye-index {
    /*background: url("../img/test/index-bg.jpg") no-repeat;*/
    /*background: url("../img/background/test/7.pic_hd.jpg") no-repeat;*/
    background: url("../img/background/test/WeChat_1437963325.jpeg") no-repeat;
    /*background: url("../img/background/test/396_20150723120715582395_1.jpg") no-repeat;*/

    background-size: cover;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: default;
}
.ye-wrapper {
    background: rgba(255,255,255,.3);
    width: 100%;
    height: 110%;
}
.ye-nav {
    position: fixed;
    top: 0px;
    z-index: 900;
    left: 0%;
    padding: 2em 0em;
    width: 100%;
    box-shadow: 0px 0px 0px 0px transparent;
    border-bottom: 1px solid transparent;
    transition: padding 0.5s ease,
    background 0.5s ease,
    box-shadow 0.5s ease,
    border 0.5s ease;
}
.item {
    display: block;
}
.ye-nav .menu .item {
    font-weight: bold;
}
.ye-logo {
    float: left;
    width: 144px;
    margin-right: 1em;
}
.ye-logo .side {
    width: 144px;
    height: 35px;
}
.ye-logo-title {
    font-family: ruibo331006;
    height: 35px;
    /*width: 144px;*/
    font-size: 32px;
    color: black;
}
.ye-nav .ye-nav-menu {
    margin-right: 1em;
}
.ui.secondary.inverted.menu .active.item,
.ui.secondary.inverted.menu .active.item:hover,
.ui.secondary.inverted.menu .active.item:active {
    color: #54c8ff !important;
    /*font-weight: bold;*/
}
.ui.secondary.inverted.menu a.item:hover,
.ui.secondary.inverted.menu a.item:active{
    color: rgba(0,0,0,.95) !important;
}
.ui.secondary.inverted.menu a.item {
    color: rgba(0,0,0,.4) !important;
}
.ui.secondary.inverted.menu a.item:hover {
    color: rgba(0,0,0,.95) !important;
}
.ye-nav .popup .ui.divided.grid .column.first {
    box-shadow: none !important;
}
.ye-nav .ye-nav-qrCode{
    font-size: 32px;
    padding-right: 0 !important;
}
.ye-nav .ye-nav-qrCode:hover {
    background: transparent !important;
}
.ye-main {
    top: 40%;
    width: 100%;
    height: 256px;
    position: relative;
    background: rgba(255,255,255,.4);
}
.ye-secondary-btn {
    border-right: 1px solid rgba(34,36,38,.15) !important;
}
.ui.list.ye-ad a.item {
    font-size: 18px !important;
    color: white !important;
}
.ui.list.ye-ad a.item:hover,
.ui.list.ye-ad a.item:active {
    text-decoration: underline;
}

.ye-footer {
    /*top: 224px;*/
    top: 500px;
    position: relative;
}
@media (max-height: 800px) {
    .ye-footer {
        top: 268px;
    }
}
@media (max-height: 640px) {
    .ye-footer {
        top: 200px;
    }
}
@media (max-height: 580px) {
    .footer-info,.foot-content {
        display: none !important;
    }
}
@media (max-width: 580px) {
    .footer-info,.foot-content {
        display: none !important;
    }
}
.ye-footer .foot-content {
    bottom: 15px;
    position: fixed;
    width: 100%;
    text-align: center;
}
.ye-footer .foot-content a {
    font-size: 16px;
    color: white !important;
}
.ye-footer .foot-content a:hover,
.ye-footer .foot-content a:active {
    font-style: italic;
}